body{
    background-color: black;
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight:500;
}

body > div{
    font-size:30px;
    margin-bottom: 5vw;
}

p{
    margin: 0;
    padding:0;
}

button{
    border:none;
    padding:0;
}

button:hover{
    background-color:rgb(207, 207, 207);
}

button:focus{
    border:none;
}

.board{
    --gap:10px;
    --cell-min-size:50px;

    --board-min-size:calc(
        calc(var(--gap)*2) 
        + calc(var(--cell-min-size)*3)
        );

    margin:0 auto;
    width:20vw;
    height:20vw;
    gap:var(--gap);
    display:grid; 
    grid-template: repeat(3,minmax(var(--cell-min-size), 1fr)) / repeat(3,minmax(var(--cell-min-size), 1fr)); 
    min-width:var(--board-min-size); 
    min-height:var(--board-min-size);
}

.cell{
    padding:20%;
    border-radius:10%;
}

.cell.marked-x{
    color:darkred;
    background-color: lightpink;
}

.cell.marked-x:after{
    content:url(./icons/x.svg);
}

.cell.marked-o{
    color:darkgreen;
    background-color: lightblue;
}

.cell.marked-o:after{
    content:url(./icons/circle.svg);
}

svg{
    height: 50%;
    width:50%;
}

.info-bar{
    color:white;
    background-color: blue;
    height: 3em;
    display:flex;
    align-items: center;
    justify-content: center;
}